* {
  padding: 0;
  margin: 0; 
}
  
*,
*::after,
*::before {
  box-sizing: inherit; 
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-grey-dark-2);
  min-height: 100vh;
}
a{
  text-decoration: none;
}

//temp
h1{
  font-size: 6rem;
}