header{
    position: relative;
    & h1{
        font-size: 3rem;
        color: greenyellow;
        
    }
}
.header-sticky{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    font-family: "Poppins", sans-serif;
    // background-color: #1A0D01; //для стики
    & a{
        height: 10rem;
    }
}
.navigation{
    list-style: none;
    display: flex;
    flex-direction: row;

    & li:not(:last-child){
        margin-right: 4rem;
    }

    & li a{
        color: #fff;
        font-size: 1.6rem;
        font-weight: 500;

        & i{
            font-size: 1rem;
        }
    }
}
.book-wrapper{
    margin-right: 4rem;

    & a{
        color: #fff;
        font-size: 1.6rem;
        font-weight: 500;
        padding-bottom: .3rem;
        border-bottom: #FFE8C3 .3rem solid;
    }
}