.reservation{
    font-family: "Poppins", sans-serif;

    position: relative;
    display: flex;
    justify-content: center;

    padding-top: 14rem;
    padding-bottom: 13rem;
    & h3{
        font-family: "Philosopher", sans-serif;
        font-size: 5rem;
        font-weight: 700;
        color: #001D38;
        position: relative;
        text-align: center;
        margin-bottom: 7rem;
    }

    &__form{
        display: flex;
        flex-direction: row;
        
    }

    & .icon-1{
        top: 5%;
        // right: 5%;
        left: 85%;
    }
    & .icon-2{
        bottom: -15%;
        left: 83%;

    }
    & .icon-3{
        right: 87%;
        bottom: 1%;
    }
}


.book-form{
    // margin-bottom: 30px;
    background: #DB9A64;
    padding: 34px 40px;

    & h3{
        font-size: 3.5rem;
        font-family: "Philosopher", sans-serif;
        font-weight: 700;
        color: #fff;
        margin-bottom: 4rem;
        text-align: start;
    }
}
.form-grid{
    width: 52rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 1rem;

    & input{
        font-family: "Poppins", sans-serif;
        width: 100%;
        height: 45px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: transparent;
        font-size: 14px;
        color: #fff;
        padding-left: 15px;
        padding-right: 15px;
        &:focus{
            outline: none;
        }
    }
}
::-webkit-input-placeholder { /* WebKit browsers */
    color: #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #fff;
}

.select-dinner, .select-person{
    width: auto;
    height: 45px;
    border-radius: 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: transparent;
    color: #fff;
    line-height: 45px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 15px;
    padding-left: 18px;
    padding-right: 30px;
    position: relative;

    & ul {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 0 1px rgba(68, 68, 68, 0.11);
        box-sizing: border-box;
        margin-top: 4px;
        opacity: 0;
        overflow: hidden;
        padding: 0;
        pointer-events: none;
        position: absolute;
        top: 100%;
        left: 0;
        -webkit-transform-origin: 50% 0;
        -ms-transform-origin: 50% 0;
        transform-origin: 50% 0;
        -webkit-transform: scale(0.75) translateY(-21px);
        -ms-transform: scale(0.75) translateY(-21px);
        transform: scale(0.75) translateY(-21px);
        -webkit-transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
        transition: all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out;
        z-index: 9;

        & li{
            cursor: pointer;
            font-weight: 400;
            line-height: 40px;
            list-style: none;
            min-height: 40px;
            outline: none;
            padding-left: 18px;
            padding-right: 29px;
            text-align: left;
            -webkit-transition: all 0.2s;
            transition: all 0.2s;
            color: #000;
            font-size: 14px;
        }
    }
    &::after{
        content: "\e64b";
        display: block;
        height: 5px;
        margin-top: -5px;
        pointer-events: none;
        position: absolute;
        right: 30px;
        top: 8px;
        transition: all 0.15s ease-in-out;
        width: 5px;
        font-family: 'themify';
        color: #ddd;
    
    }
}
.form{

    & button{
        width: 100%;
        background: #BB8151;
        display: block;
        padding: 11px;
        color: #fff;
        font-family: "Poppins", sans-serif;
        font-size: 14px;
        font-weight: 500;
        border: none;
        cursor: pointer;
        margin-bottom: 3rem;
        &:hover{
            background: #B08151;
        }
    }
}
.address-wrapper{
    display: flex;
    flex-direction: row;
    //justify-content: space-between;
}
.address{
    margin-right: 4rem;
}
.address, .reserv{
    display: flex;
    &__icon{
        margin-right: 1.4rem;
    }
    &__info{

        & h4{
            font-weight: 300;
            font-size: 1.8rem;
            font-family: "Poppins", sans-serif;
            color: #fff;
            margin-bottom: 0;
        }
        & p{
            margin-bottom: 0;
            color: #fff;
            font-size: 14px;
            font-weight: 400;
            font-family: "Poppins", sans-serif;
        }
    }
}

iframe{
    height: 100%;//for gmaps
}