.swiper{
    width: 100%;
    
    
}
.swiper-wrapper{
    box-sizing: content-box;
    
}
.swiper-slide{
    
    & img{
        width: 100%;
        min-height: 80rem;
        
    }
}

.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left: 0;
}
.swiper-button-prev, .swiper-button-next{
    padding: 6rem 2.5rem;
    background-color: rgba($color: #ffffff, $alpha: .3);
    &:hover{
        background-color: rgba($color: #ffffff, $alpha: 1);
    }   
}
.swiper-button-prev::after, .swiper-button-next::after{
    color: #fff;
    opacity: 1;
    font-size: 1.5rem;
}
.swiper-button-next:hover::after,.swiper-button-prev:hover::after{
    color: black;
}