<div class="delicious">
    <div class="container-column">
        <h3>Delicious Food For You</h3>
        <div class="choose-menu">
            <ul>
                <li>
                    <a href="#" class="nav-menu ">
                        <div class="icon">
                            <i class="flaticon-lunch"></i>
                        </div>
                        <h4>Dinner</h4>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-menu active">
                        <div class="icon">
                            <i class="flaticon-food"></i>
                        </div>
                        <h4>Breakfast</h4>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-menu">
                        <div class="icon">
                            <i class="flaticon-kitchen"></i>
                        </div>
                        <h4>Lunch</h4>
                    </a>
                </li>
            </ul>
        </div>
        <div class="menu">

        </div>
    </div>
</div>