<body>
<!-- footer section start -->
<footer>
    <div class="footer__top">
        <div class="footer__container">
            <div class="footer__column footer__column--1">
                <div class="footer__logo">
                    <a href="#">
                        <img src="images/footer_logo.png" alt="">
                    </a>
                </div>
                <p>
                    5th flora, 700/D kings road, green <br>
                    lane New York-1782 <br>
                    <a href="#">+10 367 826 2567</a><br>
                    <a href="#">contact@carpenter.com</a>
                </p>
                <div class="footer__social">
                    <ul>
                        <li><a href="#"><i class="ti-facebook"></i></a></li>
                        <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__column footer__column--2">
                <h3>Useful Links</h3>
                <ul>
                    <li><a href="#">Menu</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="footer__column footer__column--3">
                <h3>Subscribe</h3>
                <form action="#" class="newsletter-form">
                    <input type="text" placeholder="Enter your mail" >
                    <button type="submit">Subscribe</button>
                    
                </form>
                <p>Esteem spirit temper too say adieus who direct <br> esteem esteems luckily.</p>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="footer__border"></div>
        <p>Copyright © <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart"></i> by <a href="#">Dolbezhnik</a></p>
    </div>
</footer>

<!-- footer section end -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/swiper-bundle.min.js"> </script>
    <script src="js/lightgallery.min.js"></script>
    <script src="js/baguetteBox.js"></script>
    <script type="text/javascript">
        lightGallery(document.getElementById('lightgallery'));
    </script>
    <script>
        window.addEventListener('load', function() {
          baguetteBox.run('.gallery');
        });
    </script>
    <script src="js/main.js"></script>
</body>
</html>